<div class="flightDetails">


<i id="croixExit" class="fal fa-times fa-lg" style="color: #ababab;" onclick="closeFlightDetails()"></i>
     <h2 id="detailsTitle">Information sur le voyage</h2>
     {% if flight %}
     <div id="columnContainer">

     
          <div class="columnDetails" id="clmn1">
               <p class="pDetails">Date <span>{{ flight.departureDatetime|format_datetime(pattern="EEE dd MMMM",
                         locale='fr') }}</span></p>
               <p class="pDetails">Aéroport de départ <span>{{ flight.departureAirport.name }} ({{
                         flight.departureAirport.code }})</span> </p>
               <p class="pDetails">Numéro de l'avion <span>{{ flight.number }}</span> </p>
          </div>

          <div class="columnDetails">
               <p class="pDetails">Horaire de décollage <span>{{ flight.departureDatetime|date('H:i') }}</span> </p>
               <p class="pDetails">Aéroport d'arrivée <span>{{ flight.arrivalAirport.name }} ({{
                         flight.arrivalAirport.code }})</span> </p>
               <p class="pDetails">Modèle de l'avion <span>{{ flight.planeId.model }}</span> </p>
          </div>

          <div id="2row">
               <p class="pDetails">Horaire d'atterrissage <span>{{ flight.arrivalDatetime|date('H:i') }}</span> </p>
               <p class="pDetails">Compagnie <span>{{ flight.airline }}</span> </p>
          </div>
     </div>

     {# //--------------------------------------fonction Booking #}
     <button id="booking_button" onclick="redirectToBooking({{ flight.id }})">Réserver ce vol</button>
     {% endif %}
</div>